/*
  WET-BOEW
  @title: Medium view (screen only)
 */

.gcweb-menu {
	/*
	 * Tablet mode
	 *
	 * (Grid of the submenu panel)
	 */

	// avoid horizontal scroll on medium breakpoint
	.gcweb-menu-ul .gcweb-menu-ul {
		width: 610px;
	}

	.gcweb-menu-ul .gcweb-menu-ul li {
		width: 100%;
	}

	.gcweb-menu-ul .gcweb-menu-ul li:last-child {
		left: auto;
		margin-top: 1em;
		position: relative;
		top: auto;
	}

	.gcweb-menu-ul .gcweb-menu-ul .gcweb-menu-ul li:last-child {
		margin-top: 0;
	}

	.gcweb-menu-ul .gcweb-menu-ul .gcweb-menu-ul {
		margin-bottom: 0;
		padding-bottom: 0;
		position: relative;
	}
}
