/*
  WET-BOEW
  @title: Small view and under (screen only)
 */

// This block is to only support GCWeb menu version 1
#wb-bnr + .gcweb-menu {
	button[aria-haspopup="true"] {
		margin-left: calc( 50% - 360px );
	}
}

.gcweb-menu {
	.container {
		padding: 0;
		width: 100%;
	}

	/*
	 * Mobile - first level
	 */

	.gcweb-menu-ul {
		position: static;
		width: auto;
	}

	button[aria-haspopup="true"] {
		&[aria-expanded="true"] + .gcweb-menu-ul {
			border-right: #eee solid 1px;
		}
	}

	.gcweb-menu-li {
		width: auto;
	}

	/*
	 * Mobile - Second level
	 */

	/* Reset the style set by the panel */
	.gcweb-menu-ul .gcweb-menu-ul li:first-child .gcweb-menu-li {
		font-size: 18px;
		font-weight: 400;
		text-decoration: underline;
		width: auto;
	}

	.gcweb-menu-ul .gcweb-menu-ul {
		border-top: none;
		box-shadow: none;
		margin-bottom: 0;
		min-height: auto;
		padding: 0;
		width: auto;
	}

	.gcweb-menu-ul .gcweb-menu-ul li {
		width: auto;
	}

	button:hover {
		text-decoration: underline;
	}

	button + .gcweb-menu-ul .gcweb-menu-li[aria-expanded="false"]:hover,
	button + .gcweb-menu-ul .gcweb-menu-li[aria-expanded="false"]:focus {
		background: transparent;
		color:#fff;
	}

	button + .gcweb-menu-ul .gcweb-menu-ul .gcweb-menu-li[aria-expanded="false"]:hover,
	button + .gcweb-menu-ul .gcweb-menu-ul .gcweb-menu-li[aria-expanded="false"]:focus {
		color:#000;
	}

	.gcweb-menu-ul .gcweb-menu-ul li:first-child {
		margin-bottom:0;
	}

	.gcweb-menu-ul .gcweb-menu-ul li .gcweb-menu-li {
		padding-bottom: 14px;
		padding-left: 0;
		padding-right: 30px;
		padding-top: 14px;
	}

	[aria-expanded="true"]:not(button) + .gcweb-menu-ul li {
		margin-left: 65px;
	}

	[aria-expanded="true"]:not(button) + .gcweb-menu-ul li:first-child .gcweb-menu-li,
	[aria-expanded="true"]:not(button) + .gcweb-menu-ul li:last-child .gcweb-menu-li {
		padding-left: 65px;
	}

	[aria-expanded="true"]:not(button) + .gcweb-menu-ul li:first-child,
	[aria-expanded="true"]:not(button) + .gcweb-menu-ul li:last-child {
		margin-left: 0;
	}

	/* Arrow for menu item with submenu */
	[aria-haspopup]:not(button)::before,
	[role="treegrid"] > [role="row"] > [role="rowheader"]::before {
		content: "\25BA\a0";
	}

	[aria-haspopup][aria-expanded="true"]:not(button)::before,
	[role="treegrid"] > [role="row"][aria-expanded="true"] > [role="rowheader"]::before {
		content: "\25BC\a0";
	}

	/* Menu text style */
	.gcweb-menu-ul .gcweb-menu-ul .gcweb-menu-li, /* default style */
	.gcweb-menu-ul .gcweb-menu-ul li:first-child .gcweb-menu-li /*this line is an override*/ {
		border-bottom: 1px solid #ccc;
		color: #000;
	}

	.gcweb-menu-ul .gcweb-menu-ul .gcweb-menu-li,
	.gcweb-menu-ul .gcweb-menu-ul li:last-child .gcweb-menu-li,
	.gcweb-menu-ul .gcweb-menu-ul .gcweb-menu-ul li:first-child .gcweb-menu-li {
		color: #284162;
		text-decoration: none;
	}

	.gcweb-menu-ul .gcweb-menu-ul .gcweb-menu-li:hover, /* default style */
	.gcweb-menu-ul .gcweb-menu-ul .gcweb-menu-li:focus, /* default style */
	.gcweb-menu-ul .gcweb-menu-ul li:first-child .gcweb-menu-li:hover, /*this line is an override*/
	.gcweb-menu-ul .gcweb-menu-ul li:first-child .gcweb-menu-li:focus, /*this line is an override*/
	.gcweb-menu-ul .gcweb-menu-ul li:last-child .gcweb-menu-li:hover,
	.gcweb-menu-ul .gcweb-menu-ul li:last-child .gcweb-menu-li:focus {
		color: #000;
		text-decoration: underline;
	}

	.gcweb-menu-ul .gcweb-menu-ul li:first-child .gcweb-menu-li,
	.gcweb-menu-ul .gcweb-menu-ul li:last-child .gcweb-menu-li {
		background-color: #e1e1e1;
	}

	/* Mobile - Third level */

	.gcweb-menu-ul .gcweb-menu-ul li:last-child {
		left: auto;
		position: static;
		top: auto;
	}

	.gcweb-menu-ul .gcweb-menu-ul li:last-child .gcweb-menu-ul {
		list-style: none;
	}

	[aria-expanded="true"] + .gcweb-menu-ul .gcweb-menu-ul .gcweb-menu-ul {
		background-color: #e1e1e1;
	}

	[aria-expanded="true"]:not(button) + .gcweb-menu-ul .gcweb-menu-ul li {
		margin-left: 100px;
	}

	[aria-expanded="true"]:not(button) + .gcweb-menu-ul li:last-child .gcweb-menu-ul .gcweb-menu-li {
		padding-left: 0;
	}

	.gcweb-menu-ul .gcweb-menu-ul .gcweb-menu-ul li {
		width: auto;
	}
}
