---
title: "[Topic title]"
layout: no-container
language: "en"
altLangPage: "topic-fr.html"
dateModified: "2024-06-10"
---

{%- include /design-patterns/gc-intro/gc-intro-half-width-image.html -%}

{%- include /components/gc-most-requested/gc-most-requested.html -%}

<div class="container">
	{%- include /components/gc-srvinfo/3col-hidden-title.html -%}

	<div class="row mrgn-tp-xl">
		<div class="col-md-8">
			{%- include /components/gc-features/one-tile-hidden-title.html -%}
		</div>
		<div class="col-md-4">
			{%- include gc-follow-us/gc-follow-us.html -%}
		</div>
	</div>

	{%- include /components/gc-contributors/gc-contributors.html -%}
</div>
